@import url("components/navbar.css");
@import url("components/typography.css");

.welcome-page {
/*  background: url(../images/train-station.jpg);*/
/*  background-size: cover;*/
  background: rgb(0,232,255);
  background: radial-gradient(circle, rgba(0,232,255,0.5970763305322129) 0%, rgba(95,254,94,0.40379901960784315) 100%);
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
