@import url("components/navbar.css");
@import url("components/typography.css");
@import url("components/button.css");
@import url("components/pages.css");
@import url("components/cards-grid.css");
@import url("components/card.css");

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background: #0A192E;
  font-family: 'Raleway', sans-serif;
}

p {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

h5 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

input[type='radio'] {
  transform: scale(1.5);
 }

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #eb5e34;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
 }

 input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
 }
