.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  transition: 0.7s;
  background: rgba(10, 25, 47, 0.8);
  backdrop-filter: blur(5px);
}


.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}


.navbar-brand {
  color: white !important;
}

.navbar-nav .nav-link {
  margin-right: 4vw;
}

.brand-image {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.brand-image img {
  height: 85%;
}

#navbar-resume-link:hover {
  background: #eb5e34;
}

@media only screen and (min-device-width : 1000px) and (max-device-width : 2240px) {
  .navbar {
    height: 14vh;
  }

  .nav-item {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 1000px) {
  .navbar {
    height: 8vh;
  }

  .nav-item {
    font-size: 11px;
  }
}


