.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 14vh;
  z-index: 10;
  transition: 0.7s;
  background: rgba(10, 25, 47, 0.8);
  backdrop-filter: blur(5px);
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.navbar-brand {
  color: white !important;
}

.navbar-nav .nav-link {
  margin-right: 4vw;
}

.brand-image {
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.brand-image img {
  height: 85%;
}
