.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 60px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: rgba(0, 0, 0) !important;
}

.navbar-nav .nav-link {
  padding-right: 4vw;
}
