.page-index {
  position: fixed;
  top: 30vh;
  right: 100px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.page-index h1 {
  color: #eb5e34;
  font-size: 40px;
}

.page-title {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 10vh;
}




.welcome-page {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  height: 50%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}





.project-page {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-container {
  width: 65%;
}

.project-cards {

}

.project-card {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 8.5vh;
  display: flex;
  align-items: center;
}

.image-content {
  position: relative;
}

.image-content img {
  width: 76vh;
  height: 38vh;
  object-fit: cover;
  border-radius: 4px;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(235,94,53);
  opacity: 0.8;
  transition: all 0.9s ease;
}

.image-overlay:hover {
  opacity: 0;
}

.project-card-left {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.project-card-right {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.project-text-left {
  margin-left: -7vw;
  background-color: #18355e;
  width: 28vw;
  height: auto;
  max-height: 27vh;
  padding: 20px 30px 20px 50px;
  border-radius: 4px;
  z-index: 2;
  overflow: hidden;
}

.project-text-right {
  margin-right: -7vw;
  background-color: #18355e;
  width: 28vw;
  height: auto;
  max-height: 27vh;
  padding: 20px 50px 20px 30px;
  border-radius: 4px;
  z-index: 2;
  overflow: hidden;
}

.project-links {
  height: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.iconify {
  height: 5vh;
  width: 5vh;
}




/*.projects-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.project-section {
  text-align: center;
}

#projects-title {
  margin-bottom: 40px;
  font-size: 60px;
  color: white;
}*/





.about-me-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-image {
  height: 60vh;
}

.about-me-text {
  position: relative;
  width: 70%;
  height: 60vh;
  border: 1px white solid;
  border-left: none;
  padding: 70px 100px;
  font-size: 30px;
  color: white;
  overflow: hidden;
}

#about-me-open-quote {
  width: 40px;
  height: auto;
  position: absolute;
  top: 35px;
  left: 35px;
  color: white;
}

#about-me-close-quote {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: 35px;
  right: 35px;
  color: white;
  transform: rotate(180deg);
}





.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-title {
  margin-bottom: 40px;
  font-size: 60px;
  background: -webkit-linear-gradient(90deg, rgba(255,73,48,1) 22%, rgba(253,183,49,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
