body {
  background: #030321;
}

.welcome-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.projects-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  width: 65vw;
}

.project-section {
  text-align: center;
}

#projects-title {
  margin-bottom: 40px;
  font-size: 60px;
  color: white;
}





.about-me-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-section {
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-image {
  height: 60vh;
}

.about-me-text {
  position: relative;
  width: 70%;
  height: 60vh;
  border: 1px white solid;
  border-left: none;
  padding: 70px 100px;
  font-size: 30px;
  color: white;
  overflow: hidden;
}

#about-me-open-quote {
  width: 40px;
  height: auto;
  position: absolute;
  top: 35px;
  left: 35px;
  color: white;
}

#about-me-close-quote {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: 35px;
  right: 35px;
  color: white;
  transform: rotate(180deg);
}





.contact-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-title {
  margin-bottom: 40px;
  font-size: 60px;
  background: -webkit-linear-gradient(90deg, rgba(255,73,48,1) 22%, rgba(253,183,49,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
