@import url('https://fonts.googleapis.com/css?family=Amaranth:700,400&display=swap');

.r-link{
  font-family: 'Raleway', sans-serif;
  --uirLinkDisplay: var(--rLinkDisplay, inline-block);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);

  display: var(--uirLinkDisplay) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

.animated-underline{
  --uiAnimatedUnderlineWidth: var(--animatedUnderlineWidth, 100%);
  --uiAnimatedUnderlineHeight: var(--animatedUnderlineHeight, 2px);
  --uiAnimatedUnderlineBgColor: var(--animatedUnderlineBgColor, currentColor);
  --uiAnimatedUnderlinePositionX: var(--animatedUnderlinePositionX, left);
  --uiAnimatedUnderlinePositionY: var(--animatedUnderlinePositionY, bottom);

  /*
    1. For multi-line animated underline the "inline" value for the display property is compulsory.
    2. Adds opportunity to create multi-line padding
  */

  --rLinkDisplay: inline; /* 1 */

  background-image: linear-gradient(0, var(--uiAnimatedUnderlineBgColor) 0, var(--uiAnimatedUnderlineBgColor));
  background-size: var(--uiAnimatedUnderlineWidth) var(--uiAnimatedUnderlineHeight);
  background-position: var(--uiAnimatedUnderlinePositionX) var(--uiAnimatedUnderlinePositionY);
  background-repeat: no-repeat;

  -webkit-box-decoration-break: clone; /* 2 */
  box-decoration-break: clone; /* 2 */

  will-change: background-size;
  transition: background-size .25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*
=====
SETTINGS
=====
*/

:root{
  --animatedUnderlineHeight: 1rem;
  --animatedUnderlineBgColor: #eb5e34;
}

.animated-underline_type5{
  --animatedUnderlineWidth: 100%;
  --animatedUnderlineHeight: 20px;
  --animatedUnderlinePositionY: 90%;
}

.animated-underline_type5:hover{
  --animatedUnderlineHeight: 2.5rem;
}

.animated-underline_type4{
  --animatedUnderlineWidth: 0;
  --animatedUnderlineHeight: 1px;
}

.animated-underline_type4:hover{
  --animatedUnderlineWidth: 100%;
}
